.profile {
  margin: 30px auto 0;
  position: relative;
}

.profile__settings {
  margin: 0 0 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile__settings-button {
  margin: 0 30px 0 0;
  padding: 0;
  text-align: right;
  font-family: "PT Root", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #a7a6a6;
}

.profile__settings-button:last-child {
  margin-right: 0;
}

.profile__settings-button:hover {
  color: #224cff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile__settings {
    display: none;
  }
}
